# --- Python
__pycache__/
*.py[cod]
*$py.class

# --- Environnements virtuels
.venv/
venv/
env/
ENV/

# --- Outils / caches
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/
.tox/
.nox/
.cache/
.ruff_cache/
.ipynb_checkpoints/
.coverage
coverage.xml
htmlcov/

# --- Build / packaging
build/
dist/
*.egg-info/
.eggs/

# --- Logs
logs/
*.log

# --- Secrets & conf locales
.env
.env.*
*.env
secrets/
secrets.*
.streamlit/secrets.toml

# --- OS / éditeurs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.code-workspace

# --- Fichiers générés par ton app
output/
tmp/
temp/
data/tmp/

# --- Fichiers temporaires Office
~$*.pptx
~$*.ppt
~$*.xlsx
~$*.xls
